body,
.card {
    background-color: black!important;
    color: white;
}

#account {
    margin: 0 auto;
    text-align: center;
}

.tabForm {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.tabDailyView {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.bg-dark {
    background-color: black !important;
}

table {
    color: white !important;
}

.btn-primary {
    background: #6666ff !important;
}

.nav-tabs .nav-item a {
    color: #6666ff !important;
    font-weight: bold;
}

.wreport {
    margin: 0 auto;
    text-align: center;
    width: 600px;
}

.round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #6666ff !important;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}

div.modalTransp {
    text-align: center;
}