html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.main-container {
    position: absolute;
    margin: 0 auto;
    top: 20%;
}

#logo {
    width: 10%;
    height: 10%;
}

.aboutProject {
    min-height: 400px;
}

#newAccountDiv {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.regForm {
    margin: 0 auto;
    position: relative;
    width: 500px;
    border: solid 2px #d09fd0;
    padding: 10px;
    border-radius: 5px;
}

.btn-primary {
    background: #bc6ae2 !important;
}